<!DOCTYPE html>
<html ng-app="stoogeApp">
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
    <script>
      angular.module('stoogeApp', [])
        .controller('StoogeController', function($scope){
          $scope.stooges = ['Larry', 'Curly', 'Moe', 'Shemp'];
          $scope.addStooge = function() {
            $scope.stooges.push($scope.stoogeName);
            $scope.stoogeName = '';
          }
        });
    </script>
  </head>
  <body ng-controller="StoogeController">
    <form ng-submit="addStooge()">
      <input ng-model="stoogeName">
      <input type="submit" value="Stooge me!">
    </form>
    <ul>
      <li ng-repeat="stooge in stooges">{{ stooge }}</li>
    </ul>
  </body>
</html>
